%h1.page-title Nouvelle structure

= simple_nested_form_for(@structure, :html => { :class => 'form-horizontal' }) do |f|
  = display_errors(@structure)

  .form-inputs
    = f.input :kind, label: false, collection: [:venue, :festival, :show_buyer, :structure], as: :radio_buttons, item_wrapper_class: "inline"
    = f.fields_for :contact do |c|
      = c.input :name, label: false, :class => "span12"

      = c.fields_for :addresses do |address|
        .nested-fields
          = address.input :city, :placeholder => "Ville"
          = address.input :postal_code
          = address.input :country, :priority => [ "France", "Spain", "Germany", "Austria", "United States", "United Kingdom" ]
  .form-actions
    = f.submit :class => "btn-primary btn-large", disable_with: "En cours de création..."
    = f.submit t("helpers.submit.create_and_edit"), :class => "btn-primary btn-large"
    ou
    = link_to "Annuler", session[:return_to], :class => "shybtn btn-large"
