$(".progressbar").toggleClass("ghost");
(function pollJobidStatus() {
  $.getJSON('<%= job_path(@job_id) %>', function (response) {
    if (response.status == "working") {
      $(".bar").width(response.pct + 5 + '%');
      if (response.message != null) {
        $(".message").text(response.message)
      }
    }
    if (response.status == "complete") {
      nb_imported_contacts = response.result["nb_imported_contacts"]
      nb_duplicates = response.result["nb_duplicates"]

      $(".progressbar").toggleClass("ghost");
      window.location = "<%= contacts_path %>"

      return false;
    }

    setTimeout(pollJobidStatus, 1000);
  });
}());
